.normal {
    display: flex;
    flex-direction: column;
    height: 100%;
    background:white;
}

.content {
    flex: 1;
    display: flex;
}

.main {
    padding: 0 5px;
    flex: 1 0 auto;
    width: 100%;
}
