.normal {
    font-family: Georgia, sans-serif;
    text-align: center;
    margin-top: 5%;
    width: 26%;
    margin-left: 37%;
    background: #fafafa;
    padding: 2%;
  }

  .input {
    width: 80%;
  }
  

  